* {
	box-sizing: border-box;
}

.RoomList {
	float: left;
	width: 25vw;
	min-height: 100vh;
	background-repeat: repeat-y;
	background-color: #DADBBD;
	font-family: 'Zilla Slab', serif;
}

.RoomList h1 {
	text-align: center;
}

