* {
	box-sizing: border-box;
}

.RoomList {
	float: left;
	width: 25vw;
	height: 100vh;
	background-color: #DADBBD;
}

.ChatRoom {
	float: right;
	width: 75vw;
	height: 100vh;
	background: url(./word.jpg) no-repeat fixed;
	background-size: cover;
	opacity: 0.3;
}
